* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "footer footer footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr) auto;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    background-image: radial-gradient(circle,rgba(26, 9, 13, 0.7) 0%,rgba(138, 43, 226, 1) 100%);
    
}

@media screen and (min-width:300px) and (max-width: 600px){
    .body{
        grid-template-areas: 
        "header header header"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto repeat(3, 1fr) auto;
    }
}

.header__nav {  
    background-color: rgb(138, 43, 226);
    overflow: hidden;
}

.body__header { 
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: baseline;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .body__header{
        grid-area: header;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

.nav__ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .nav__ul{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
    }
}

.nav__li{
    flex-shrink: 0;
    flex-basis: 1;
    text-align: center;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .nav__li{
        margin: 5px 0;
    }
}

.nav__a--current-page {
    color: black;
    background-color: rgb(239, 198, 155);
}

.nav__a--next_page {
    color: rgb(239, 198, 155);
    transition-duration: 1s;
}

.nav__a--next_page:hover {
    background-color: rgba(26, 9, 13, 0.7);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: linear;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .nav__a--next_page:active{
        color: rgb(239, 198, 155);
        background-color: rgba(26, 9, 13, 0.1);
        box-shadow: 2px 2px  rgb(108, 117, 107);
        transition-timing-function: linear;
        }
}

.body__main{ 
    grid-area: main;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .body__main{
        grid-area: main;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
    }
}

.main__section-title{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .main__section-title{
    flex-flow: column wrap;
    }
}

.main__article-title{ 
    color: rgb(239, 198, 155);
}

.article-title__h1{
    font-size: 2.2rem;
    text-align: center;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-title__h1{
        font-size: 2.5rem;
    }
}

.article-title__h2{
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-title__h2{
        font-size: 2.2rem;
    }
}

.main__section-content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .main__section-content{
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
}

.main__article-content{ 
    color: rgb(239, 198, 155);
}

.article-content__p {
    font-size: 1rem;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__p{
        font-size: 1.3rem;
        margin-top: 50px;
    }
}

.article-content__a{
    color: black;
    background-color: rgb(239, 198, 155);
    transition-duration: 1s;
}

.article-content__a:hover{
    color: rgb(239, 198, 155);
    background-color: rgba(26, 9, 13, 0.1);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: linear;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__a:active{
        color: rgb(239, 198, 155);
        background-color: rgba(26, 9, 13, 0.1);
        box-shadow: 2px 2px  rgb(108, 117, 107);
        transition-timing-function: linear;
        }
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__a--button{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        text-decoration: none;
    }
}

#randomizer {
    color: black;
    background-color: rgb(239, 198, 155);
    transition-duration: 1s;
    border-radius: 5px;
    border-color: rgb(108, 117, 107);
    margin-bottom: 1%;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

@media screen and (min-width:300px) and (max-width: 600px){
    #randomizer{
        border-radius: 10px;
        font-size: 1.3rem;
        margin-top: 5%;
        margin-bottom: 5%;
        flex-grow: 2;
        cursor: none;
    }
}

#randomizer:hover{
    color: rgb(239, 198, 155);
    background-color: rgba(26, 9, 13, 0.1);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: linear;
}

@media screen and (min-width:300px) and (max-width: 600px){
    #randomizer:active{
        color: rgb(239, 198, 155);
        background-color: rgba(26, 9, 13, 0.1);
        box-shadow: 2px 2px  rgb(108, 117, 107);
        transition-timing-function: linear;
        }
}

.body__footer{
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: 7;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .body__footer{
        grid-area: footer;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

.footer-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 10px;
    background-color: blueviolet;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .footer-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-top: 20px;
    }
}

.footer-container__p {
    color: rgb(239, 198, 155);
    font-size: 1rem;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .footer-container__p{
        font-size: 1.3rem;
    }
}

.footer-container__a{
    color: rgb(239, 198, 155);
    transition-duration: 1s;
    font-size: 1rem;
    text-decoration: none;
}

.footer-container__a:hover {
    background-color: rgba(26, 9, 13, 0.7);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: linear;
}

.footer-container__img{
    border-radius: 50%;
    margin: auto;
    height: 1rem;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .footer-container__img{
        height: 1.5rem;

    }
}

@media screen and (min-width:300px) and (max-width: 600px){
    .footer-container__img--hidden{
        visibility: hidden;
    }
}

/************************* Corresponde a "Our Movies" *************************/

.article-content__ul{
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    align-content: center;
    align-items: center;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__ul{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }
}

.article-content__li{ 
    color: rgb(239, 198, 155);
    font-size: 1rem;
    margin: 2% 0;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__li{
        font-size: 1.3rem;
        margin: 2% 0;
    }
}
/************************* Corresponde a "Add Movie" *************************/

.article-content__form{ 
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__form{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }
}

.article-content__input--text-label, .article-content__input--number-label{
    font-family: inherit;
    font-size: 1.1rem;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--text-label, .article-content__input--number-label{
        font-size: 1.3rem;
    }
}

.article-content__input--text, .article-content__input--text-area{
    width: 30%;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    background-color: rgba(138, 43, 226, 0.2);
    text-align: center;
    resize: none;
    margin-bottom: 1%;
    border-radius: 10px;
}

.article-content__input--text-area{
    overflow: hidden;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--text, .article-content__input--text-area{
        width: 80%;
        font-size: 1.2rem;
    }
}

.article-content__input--number{
    width: 10%;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    background-color: rgba(138, 43, 226, 0.2);
    text-align: center;
    border-radius: 10px;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--number{
        width: 30%;
        font-size: 1.2rem;
    }
}

/* Para sacarle las flechas esas horribles al input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Para sacarle las flechas esas horribles al input number */

.article-content__input--text:focus, .article-content__input--text-area:focus, .article-content__input--number:focus{
    background-color: rgba(223, 194, 242, 0.7);
    color: rgb(26, 9, 13);
}

.article-content__input--text::placeholder, .article-content__input--text-area::placeholder, .article-content__input--number::placeholder{
    color: rgb(108, 117, 107);
    background-color: rgba(223, 194, 242, 0.5);
    height: 100px;
    opacity: 0.9;
    text-align: center;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--text-area::placeholder{
        height: 80px;
    }
}


input[type="file"]{ 
    display: none;
}

.article-content__input--file-label, .article-content__submit{
    color: black;
    background-color: rgb(239, 198, 155);
    transition-duration: 1s;
    border-radius: 5px;
    border-color: rgb(108, 117, 107);
    font-size: 1rem;
    font-family: inherit;
    margin-top: 2%;
    text-align: center;
    cursor: pointer;
}


@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--file-label, .article-content__submit{
        font-size: 1.3rem;
        margin-top: 4%;
        }
}

.article-content__input--file-label:hover, .article-content__submit:hover{
    color: rgb(239, 198, 155);
    background-color: rgba(26, 9, 13, 0.1);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: linear;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--file-label:active, .article-content__submit:active{
        color: rgb(239, 198, 155);
        background-color: rgba(26, 9, 13, 0.1);
        box-shadow: 2px 2px  rgb(108, 117, 107);
        transition-timing-function: linear;
        }
}

/************************* Corresponde a "About Me" *************************/

.main__article-content--about-me{
    font-family: inherit;
    color: rgb(239, 198, 155);
}

.article-content--about-me__p{
    text-align: left;
    font-size: 1.5rem;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content--about-me__p{
        text-align: center;
        font-size: 1.8rem;
    }
}

.article-content--about-me__a{
    color: black;
    background-color: rgb(239, 198, 155);
    transition-duration: 1s;
    font-style: italic;
}

.article-content--about-me__a:hover{
    color: rgb(239, 198, 155);
    background-color: rgba(26, 9, 13, 0.1);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: linear;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content--about-me__a:active{
        color: rgb(239, 198, 155);
        background-color: rgba(26, 9, 13, 0.1);
        box-shadow: 2px 2px  rgb(108, 117, 107);
        transition-timing-function: linear;
        }
}

/************************* Corresponde a "About Me" *************************/

/************************* Corresponde a "Contact Us" *************************/

.article-content__input--select-label{
    font-family: inherit;
    font-size: 1.1rem;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--select-label{
        font-size: 1.3rem;
    }
}

.article-content__input--email{
    width: 33%;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    background-color: rgba(138, 43, 226, 0.2);
    text-align: center;
    resize: none;
    margin-bottom: 1%;
    border-radius: 10px;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--email{
        font-size: 1.2rem;
        width: 80%;
    }
}

.article-content__input--email:focus{
    background-color: rgba(223, 194, 242, 0.7);
    color: rgb(26, 9, 13);
}

.article-content__input--email::placeholder{
    color: rgb(108, 117, 107);
    background-color: rgba(223, 194, 242, 0.5);
    opacity: 0.9;
    text-align: center;
}

.article-content__input--select{    
    width: 30%;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    background-color: rgba(138, 43, 226, 0.2);
    text-align: center;
    resize: none;
    margin-bottom: 1%;
    border-radius: 10px;
}

@media screen and (min-width:300px) and (max-width: 600px){
    .article-content__input--select{
        font-size: 1.2rem;
        width: 80%;
    }
}

.article-content__input--select:focus{
    background-color: rgba(223, 194, 242, 0.7);
    color: rgb(26, 9, 13);
}

.article-content__input--option{
    text-align: center;
}


/************************* Corresponde a "Contact Us" *************************/