@use "variables";

@mixin main ($new-size: variables.$font-size-all){
    font-size: $new-size;
    text-align: center;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    color: variables.$color-main;
    font-family: variables.$font-family-all;
}

@mixin main-a {
    color: black;
    transition-duration: 1s;
}

@mixin main-a_hover {
    color: rgb(239, 198, 155);
    background-color: rgba(26, 9, 13, 0.7);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: cubic-bezier(.06,.38,.99,-0.01);
}

/* These mixins are adaptations of _extend, because media queries don't like extends */

@mixin main-button ($new-size: variables.$font-size-all) {
    color: black;
    background-color: rgb(239, 198, 155);
    transition-duration: 1s;
    border-radius: 5px;
    border-color: rgb(108, 117, 107);
    font-size: $new-size;
    font-family: variables.$font-family-all;
    text-align: center;
    cursor: pointer;
}

@mixin main-button_hover {
    color: rgb(239, 198, 155);
    background-color: rgba(26, 9, 13, 0.7);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: cubic-bezier(.06,.38,.99,-0.01);
}

@mixin main-placeholder {
    color: rgb(108, 117, 107);
    background-color: rgba(223, 194, 242, 0.5);
    font-family: variables.$font-family-all;
    background-size: cover;
    opacity: 0.9;
    text-align: center;
}

@mixin main-images {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20%;
    transition: border-radius 1s linear;
    animation: rotateMe 4s infinite paused; 
}

@mixin main-images_hover {
    animation-play-state: running;
    border-radius: 70%;
    transform: scaleX(-1);
    @keyframes rotateMe {
        from {
            rotate: 0deg;
            width: 50px;
            height: 50px;
        }
        to{
            rotate: 360deg;
            width: 300px;
            height: 300px;
            translate: 100%;
        }
    }
}

/* Mixins for 600p and 300p */

@mixin main-sm ($new-size: variables.$font-size-all){
    font-size: $new-size;
    text-align: center;
    background-color: rgba($color: #D4D4D4, $alpha: 0.9);
    color: #660F85;
    font-family: variables.$font-family-all;
}

@mixin main-active {
        color: rgb(239, 198, 155);
        background-color: rgba(26, 9, 13, 0.6);
        box-shadow: 2px 2px  rgb(108, 117, 107);
        transition-timing-function: linear;
}

@mixin main-button-sm ($new-size: variables.$font-size-all) {
    color: black;
    background-color: rgb(239, 198, 155);
    transition-duration: 1s;
    border-color: rgb(108, 117, 107);
    font-size: $new-size;
    font-family: variables.$font-family-all;
    text-align: center;
    border-radius: 10px;
    font-size: variables.$font-size-600-normal;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-grow: 2;
    cursor: none;
}

/* Animation mixins */

@mixin animation-index-title {
    animation: title1 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@mixin keyframes-index-title {
    @keyframes title1 {
        0% {
            filter: blur(12px);
            opacity: 0;
        }
        100% {
            filter: blur(0px);
            opacity: 1;
        }
    }
}

@mixin animation-our_movies-list{
    animation: li-a 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000) backwards;
}

@mixin keyframes-our_movies-list{
        @keyframes li-a {
    0% {
        transform: scale(0.2);
        opacity: 0.8;
    }
    80% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(2.2);
        opacity: 0;
    }
    }
}

@mixin animation-add_movie-submit {
    animation: shake-shake 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@mixin keyframes-add_movie-submit{
    @keyframes shake-shake {
        0%,
        100% {
            transform: translateY(0);
        }
        10%,
        30%,
        50%,
        70% {
            transform: translateY(-8px);
        }
        20%,
        40%,
        60% {
            transform: translateY(8px);
        }
        80% {
            transform: translateY(6.4px);
        }
        90% {
            transform: translateY(-6.4px);
        }
    }
}

@mixin animation-about_me-h2{
    animation: triple-bounce 0.9s 3 both;
}

@mixin keyframes-about_me-h2{
    @keyframes triple-bounce {
        0% {
            transform: scale3d(1, 1, 1);
        }
        30% {
            transform: scale3d(1.25, 0.75, 1);
        }
        40% {
            transform: scale3d(0.75, 1.25, 1);
        }
        50% {
            transform: scale3d(1.15, 0.85, 1);
        }
        65% {
            transform: scale3d(0.95, 1.05, 1);
        }
        75% {
            transform: scale3d(1.05, 0.95, 1);
        }
        100% {
            transform: scale3d(1, 1, 1);
        }
    }
}

@mixin animation-about_me-a{
    animation: blink-blink 0.9s both;
}

@mixin keyframes-about_me-a{ 
    @keyframes blink-blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin animation-contact_us-submit{
    animation: submit-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@mixin keyframes-contact_us-submit{ 
    @keyframes submit-bottom {
        0% {
            transform: rotateY(30deg) translateY(300px) skewY(-30deg);
            opacity: 0;
        }
        100% {
            transform: rotateY(0deg) translateY(0) skewY(0deg);
            opacity: 1;
        }
    }
}