/*** Variables Body ***/

$font-size-all: 1rem;
$font-family-all:"Overpass", sans-serif;

/*** Variables Body ***/

/*** Variables Header / Navbar / Footer ***/

$bg-color-header-footer: rgb(138, 43, 226);
$color-current-page: black;
$bg-color-current-page: rgb(239, 198, 155);
$color-next-page: rgba(239, 198, 155, 0.8); /* Se usa en footer también, en la p y a */
$bg-color-next-page_hover: rgba(26, 9, 13, 0.7); /* Se usa en footer también, en la p y a */
$box-shadow_hover: 2px 2px rgb(108, 117, 107);

/*** Variables Header / Navbar / Footer ***/

/*** Variables Main ***/

$color-main: #8C14B8;
$bg-color-focus: rgba($color: #d4c1c1, $alpha: 0.8);

/*** Variables Main ***/