@use "../utilities/variables";

.body__footer{
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: 7;
}

.footer-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 10px;
    background-color: variables.$bg-color-header-footer;
    .footer-container__p {
        color: variables.$color-next-page;
        font-size: variables.$font-size-all;
    }
    .footer-container__a{
        color: variables.$color-next-page;
        transition-duration: 1s;
        font-size: variables.$font-size-all;
        text-decoration: none;
    }
    .footer-container__a:hover {
        background-color: variables.$bg-color-next-page_hover;
        box-shadow: variables.$box-shadow_hover;
        transition-timing-function: linear;
    }
    .footer-container__img{
        border-radius: 50%;
        margin: auto;
        height: 1rem;
    }
}