@use "../utilities/variables";

.header__nav {  
    background-color: variables.$bg-color-header-footer;
    overflow: hidden;
}

.body__header { 
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: baseline;
}

.nav__ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .nav__li{
        flex-shrink: 0;
        flex-basis: 1;
        text-align: center;
    }
    .nav__a--current-page {
        color: variables.$color-current-page;
        background-color: variables.$bg-color-current-page;
    }
    .nav__a--next_page {
        color: variables.$color-next-page;
        transition-duration: 1s;
    }
    .nav__a--next_page:hover {
        background-color: variables.$bg-color-next-page_hover;
        box-shadow: variables.$box-shadow_hover;
        transition-timing-function: linear;
    }
}

#mobile-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.mobile-icon__div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
    opacity: 0;
}

.open .bar3{
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .header__nav--mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba($color: #000000, $alpha: 0.9);
    list-style-type: none;
    z-index: 20;
    overflow: hidden;
}

.header__nav--mobile{
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.header__nav--mobile li{
    margin-bottom: 10px;
}

.header__nav--mobile li a{
        color: aquamarine;
    }