.header__nav {  
    background-color: rgb(138, 43, 226);
    overflow: hidden;
}

.body__header { 
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: baseline;
}

.nav__ul{ /* Hacer nesting */
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.nav__li{
    flex-shrink: 0;
    flex-basis: 1;
    text-align: center;
}

.nav__a--current-page {
    color: black;
    background-color: rgb(239, 198, 155);
}

.nav__a--next_page {
    color: rgb(239, 198, 155);
    transition-duration: 1s;
}

.nav__a--next_page:hover {
    background-color: rgba(26, 9, 13, 0.7);
    box-shadow: 2px 2px  rgb(108, 117, 107);
    transition-timing-function: linear;
}